@import "tailwindcss";

@theme{
    --color-primary: #42A5F5;
    --color-primary-opacity: #42A5F599;
    --color-acent: #02569B;
    --color-secondary: #86AAEB;
    --color-black: #222831;
    --color-white: #ffffff;
    --color-border: #D9D9D9;
}

.hyphenate {
  overflow-wrap: break-word;  /* kata panjang boleh patah */
  word-break: break-word;     /* supaya URL dsb. bisa pecah */
  hyphens: auto;              /* otomatis kasih "-" kalau kepotong */
}
